<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>User Registration and Login</title>
<!-- Dont include the partials path for the css file since we already made the express understand to find it in the public folder -->
<link  rel="stylesheet"  type="text/css" href="index.css"></link>