<!DOCTYPE html>
<html>

<head>
<%- include("../partials/header.ejs") %>
</head>
<body>
    <%- include("../partials/navbar.ejs" , {title : title}) %>
    <div class="home">
        <h1 class="head_home">Hi, <%= user.username %> ...you are now logged into the system</h1>
    </div>
</body>
</html>