<!DOCTYPE html>
<html>

<head>
<%- include("../partials/header.ejs") %>
</head>
<body>
    <%- include("../partials/navbar.ejs" , {title : title}) %>
    <br>
    <%- include("../partials/messages.ejs") %>
    <div class="home">
        <h1 class="head_home">Welcome To The Authenticator</h1>
    </div>
</body>
</html>